{<<"app">>,<<"logstasher">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"The logstasher is Erlang Logger formatter for logstash">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/logstasher.app.src">>,<<"src/logstasher.erl">>,
  <<"src/logstasher_app.erl">>,<<"src/logstasher_h.erl">>,
  <<"src/logstasher_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/zotonic/logstasher.git">>}]}.
{<<"name">>,<<"logstasher">>}.
{<<"requirements">>,
 [{<<"jsx">>,
   [{<<"app">>,<<"jsx">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"3.1.0">>}]}]}.
{<<"version">>,<<"1.0.0">>}.
